html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:rgb(10, 96, 146);
}



/*CONTENEDOR DEL MENU LATERAL
.lateral{
  position: relative;
  bottom: 16px;
  right: 109px;
  background-color: rgb(14, 43, 93);
  width: 300px;
  height: 800px;
}

/*Diseño de la imagen 
.image-admin{
  width: 130px;
  height: 130px;
  position: relative;
  top: 10px;
  left: 75px;
  
}

.margen-hr{
  border: none;
  background-color:darkblue;
  
} 

/*Fondo de los links
.list-nav{
  height: 50px;
  padding: 5px;
}

.list-nav:hover{
  background-color: rgb(60, 88, 182);
}

/*COLOR DE LOS LINKS
.link-nav{
  color: white;
}


.link-nav:hover{
  color: orange;
}

.nav-lateral{
  width: 300px;
  height: 500px;

}

.contenedor-menu{
  display: flex;
  
}